:root {
  --primary-color: #48d6d2;
  --title-font: "Montserrat", sans-serif;
  --undertitle-font: "Lora", serif;
  --text-font: "Hind Madurai", sans-serif;
  --primary-color-alpha: rgba(72, 214, 210, 0.2);
  --secondary-color: #f8f9fa;
  --letter-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --shadow-box: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

body {
  background-color: var(--secondary-color);
  color: rgb(63, 63, 63);
  height: 100%;
}
h1 {
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
}
h2 {
  font-family: var(--undertitle-font);
  font-style: italic;
  font-size: 30px;
  line-height: 40px;
}
p {
  font-family: var(--text-font);
  font-size: 15px;
}

footer {
  margin-top: 150px;
  margin-bottom: 50px;
}

.content-setup {
  margin-top: 50px;
}

.content-setup a {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
  transition: all 150ms ease-in-out;
}

.content-setup a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: var(--primary-color);
}

.content-setup h2 {
  font-family: var(--undertitle-font);
  font-style: italic;
  line-height: 22px;
  margin-bottom: 5px;
  font-size: 20px;
}
.content-setup img {
  border-radius: 10px;
}

.title-page {
  text-align: center;
  color: var(--primary-color);
  padding: 20px 0;
  margin-bottom: 100px;
}

.text-shadow {
  text-shadow: var(--letter-shadow);
}

.img-border {
  border-radius: 10px;
  margin-bottom: 20px;
}

.nav-bar-text {
  font-family: var(--title-font);
}
.nav-bar-color {
  color: var(--primary-color);
}
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary-color);
  font-weight: bold;
}

.homepage {
  margin-top: 50px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 200px 0;
  clip-path: polygon(0 25%, 100% 0%, 100% 75%, 0% 100%);
}

.about {
  margin-top: 100px;
}
.about h1 {
  color: var(--primary-color);
  text-shadow: var(--letter-shadow);
}

.project-link-button .button {
  text-decoration: none;
  font-weight: bold;
  padding: 15px 30px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}

.project-link-button .button:hover {
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
}

/* work inquiry part */
.mail {
  padding: 10px 0;
}
.mail a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.socials {
  margin: 20px 0;
}
.socials a {
  margin: 0 5px;
  color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
}
.socials a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.button {
  text-decoration: none;
  font-weight: bold;
  padding: 15px 25px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}
.button:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  box-shadow: var(--letter-shadow);
}
.inquiry-box {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.inquiry-box .button {
  margin: 0 auto;
  display: flex;
  margin-top: 13px;
  align-content: center;
}
.background-box {
  max-width: 75%;
  padding: 45px 20px;
  background-color: var(--primary-color-alpha);
  border-radius: 8px;
}
.background-box h2 {
  text-shadow: var(--letter-shadow);
}
.shadow-box-sm {
  box-shadow: var(--shadow-box);
}

div.col-md-5 a img {
  transition: all 150ms ease-in-out;
  box-shadow: var(--shadow-box);
}
div.col-md-5 a img:hover {
  transform: translateY(-5px) translateX(-5px);
  box-shadow: 0.5rem 0.5rem 1.5rem 0.2rem rgba(0, 0, 0, 0.075);
}

@media (max-width: 825px) {
  h1 {
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 25px;
    line-height: 45px;
  }
  h2 {
    font-family: var(--undertitle-font);
    font-style: italic;
    font-size: 25px;
    line-height: 35px;
  }
  p {
    font-family: var(--text-font);
    font-size: 15px;
  }

  footer {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .container-fluid {
    text-align: center;
  }
  .homepage {
    margin-top: 0px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 150px 0;
    clip-path: polygon(75% 0, 100% 0, 100% 85%, 0 100%, 0% 15%);
  }

  .inquiry-box {
    margin: 0 auto;
    display: block;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  .inquiry-box .button {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    align-content: center;
  }
}
